<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
	  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"

	  layout:decorate="~{master.html}"  >

<head>
	<title>Cart page</title>
	<style>
		#prodName{
			font-weight: bold;
			color: orangered;
		}
	</style>
</head>


<body layout:fragment="thebody" >

<!-- Navigation -->
<header th:replace="/master.html :: header"> </header>

<!-- Page Content -->
<!-- ========================= SECTION PAGETOP ========================= -->
<section class="section-pagetop bg">
<div class="container">
	<h2 class="title-page" th:text="#{my-cart}">Shopping cart</h2>
</div> <!-- container //  -->
</section>
<!-- ========================= SECTION INTRO END// ========================= -->

<!-- ========================= SECTION CONTENT ========================= -->
<section class="section-content padding-y">
<div class="container">

<div class="row">
	<main class="col-md-9">
<div class="card">

	<div class="container mb-4">
		<div th:text="#{cart-empty}" th:if="${cartlines==null || cartlines.size()<=0}" class="alert alert-primary mt-2" role="alert">
			Your cart is empty !
		</div>

<table class="table table-borderless table-shopping-cart">
<thead class="text-muted">
<tr class="small text-uppercase">
  <th scope="col" th:text="#{product}">Product</th>
  <th scope="col" width="120"  th:text="#{quantity}">Quantity</th>
  <th scope="col" width="120" th:text="#{price}">Price</th>
  <th scope="col" class="text-right" width="200"> </th>
</tr>
</thead>
<tbody>
<tr th:each="line:${cartlines}">

<!--
	<form method="post" class="fr1"   >
		<input type="hidden" th:value="${product.getName()}"  name="prodName">
		<a  id="buyLink" th:href="@{/checkout}+'?prod='+${product.getName()}+'&qt=1'" style="display: inline-block"  class="btn btn-lg btn-primary text-uppercase" th:text="#{buy-now}"> Buy now </a>
		&lt;!&ndash;<button id="edit" type="submit"  th:text="${present!=null}?#{update-cart}:#{add-to-cart}" href="#" name="edit"  class="btn btn-lg btn-outline-primary text-uppercase" >Add to cart </button>
        <button id="remove" type="submit" th:if="${quantity!=null}" href="#" class="btn btn-lg btn-outline-danger text-uppercase" name="remove">Remove</button>
&ndash;&gt;
		<button th:hidden="${quantity!=null}"  id="edit" name="edit" class="btn btn-lg btn-primary" th:text="#{add-to-cart}" >Add to cart </button>
		<button th:hidden="${quantity==null}" id="remove"  class="btn btn-lg btn-warning" name="remove" th:text="#{remove-from-cart}">Remove from the cart</button>

	</form>
-->


	<form method="post" th:action="@{/cart/}+${line.getProduct().getName()}">
	<td>
		<figure class="itemside">
			<div class="aside"><img  th:src="${line.getProduct().getImageUrl()}" class="img-sm"></div>
			<figcaption class="info">
				<a   th:text="${line.getProduct().getName()}" th:href="@{/item/}+${line.getProduct().getName()}"  id="prodName" class="title">Some name of item goes here nice</a>
				<p class="text-muted small">.....<br>....</p>
			</figcaption>
		</figure>
	</td>
		<td>
<!--			<input th:value="${line.getQuantity()}" name="quantity" class="form-control" type="number" value="1" />-->
			<select  id="selectQt" name="quantity" class="form-control form-control-sm" style="width:70px;">

				<option th:each="i: ${#numbers.sequence(1, 100)}" th:selected="${line.quantity==i}" th:value="${i}" th:text="${i}">  </option>

			</select>
		</td>
	<td>
		<div class="price-wrap">
			<var th:text="${line.getProduct().getPrice()*line.getQuantity()}+#{currrency}" class="price">$1156.00</var>
			<small class="text-muted" th:text="${line.getProduct().getPrice()}+#{currrency}+' Unit'"> $315.20 each </small>
		</div> <!-- price-wrap .// -->
	</td>
	<td class="text-right">
		<button type="submit" name="edit" class="btn btn-info btn"><i class="fa fa-sync-alt"></i></button>
		<button name="remove" class="btn btn-danger"><i class="fa fa-trash"></i> </button>
	</td>
	</form>
</tr>
</tbody>
</table>

<div class="card-body border-top">
	<a th:if="${#lists.size(cartlines)>0}" th:href="@{/checkout}" class="btn btn-primary float-md-right" th:text="#{purchase}" > Make Purchase <i class="fa fa-chevron-right"></i> </a>
	<a th:text="#{continue-shopping}" th:href="@{/}" class="btn btn-light"> <i class="fa fa-chevron-left"></i> Continue shopping </a>
</div>	
</div> <!-- card.// -->

<div class="alert alert-success mt-3">
	<p class="icontext"><i class="icon text-success fa fa-truck"></i> Free Delivery within 1-2 weeks</p>
</div>
</div>
	</main> <!-- col.// -->
	<aside class="col-md-3">

		<div class="card">
			<div class="card-body">
					<dl class="dlist-align">
					  <dt>Total:</dt>
					  <dd class="text-right  h5"><strong th:if="${total!=null}" th:text="${total}+'$'">0.0</strong></dd>
					</dl>

			</div> <!-- card-body.// -->
		</div>  <!-- card .// -->
	</aside> <!-- col.// -->
</div>

</div> <!-- container .//  -->
</section>
<!-- ========================= SECTION CONTENT END// ========================= -->

<!-- ========================= SECTION  ========================= -->
<section class="section-name bg padding-y">
<div class="container">
<h6>Payment and refund policy</h6>

</div><!-- container // -->
</section>
<!-- ========================= SECTION  END// ========================= -->

<!-- ========================= FOOTER ========================= -->
<!-- ========================= FOOTER END // ========================= -->



</body>
<!-- Copied from http://bootstrap-ecommerce.com/bootstrap-ecommerce-html/page-shopping-cart.html by Cyotek WebCopy 1.7.0.600, Sunday, December 15, 2019, 2:59:28 AM -->
</html>