<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" >
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- Reduce Dns lookup -->
    <!-- Bootstrap core CSS -->
    <!--<link th:href="@{/bootstrap/css/bootstrap.min.css}" rel="stylesheet">-->
    <!-- Custom styles for this template -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

    <link  th:href="@{/css/shop-homepage.css}" rel="stylesheet">


    <script>
/*        if (window.location.protocol != 'https:') {
        location.href = location.href.replace("http://", "https://");

    }*/
    </script>

    <title layout:title-pattern="$LAYOUT_TITLE - $CONTENT_TITLE">Adnanebk</title>
</head>
<body layout:fragment="thebody">
<nav class="navbar navbar-expand-md navbar-dark bg-dark fixed-top">
    <div class="container">

        <a class="navbar-brand" th:href="@{/}" style="color: gold">Sp E-commerce</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse justify-content-end" id="navbarsExampleDefault">
            <ul class="navbar-nav m-auto">

                <li class="nav-item">
                    <a th:text="#{home}" class="nav-link active" th:class="${active=='home'}?'nav-link active':'nav-link'" th:href="@{/}">Home</a>
                </li>

                <li class="nav-item">
                    <a th:text="#{cart}" th:class="${active=='cart'}?'nav-link active':'nav-link'" class="nav-link" th:href="@{/cart}">Cart
                       <span class="sr-only">(current)</span>
                    </a>
                </li>
                <li th:class="${active=='order'}?'nav-item active':'nav-item'" class="nav-item">
                    <a th:text="#{orders}" class="nav-link" th:href="@{/orders}">Orders</a>
                </li>
                <li th:class="${active=='products'}?'nav-item active':'nav-item'" class="nav-item">
                    <a th:text="#{manage-products}" class="nav-link" th:href="@{/products}">Manage products</a>
                </li>

                <li th:class="${active=='about'}?'nav-item active':'nav-item'" class="nav-item">
                    <a th:text="#{about}" class="nav-link" th:href="@{/about}">About</a>
                </li>

            </ul>



 <!--           <div   class="dropdown">
                <a  th:text="#{hi-sign-in}" style="color: aquamarine" th:if="${username==null}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    Hi! Go to Sign in
                </a>
                <a style="color: aquamarine" th:if="${username!=null}" th:text="'Hi! '+${username}"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                </a>
                <div style="background-color: darkseagreen" class="dropdown-menu" aria-labelledby="navbarDropdown">
                    <a th:text="#{login}" th:if="${username==null}" class="dropdown-item it" th:href="@{/login}">Login</a>
                    &lt;!&ndash;<a th:if="${username!=null}"class="dropdown-item it" th:href="@{/logout}">Logout</a>&ndash;&gt;
                    <form method="post" th:action="@{/logout}">
                    <input  type="submit" value="Logout" th:if="${username!=null}"class="dropdown-item it" >
                    </form>
                    <div th:if="${username!=null}" class="dropdown-divider"></div>
                    <a  th:if="${username!=null}" th:href="@{/orders}" class="dropdown-item it" href="#">My Orders</a>
                </div>
            </div>-->
        </div>

    </div>
    <a class="btn btn-success btn-sm ml-3" id="mycart" th:href="@{/cart}">
        <i class="fa fa-shopping-cart"></i>
        <span th:text="#{cart}"></span>
        <span th:text="${NumberOfCartLines}" class="badge badge-light">0</span>
    </a>
    <div   class="dropdown" id="dropSignin">
        <a  th:text="#{hi-sign-in}" style="color: aquamarine" th:if="${username==null}" class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Hi! Go to Sign in
        </a>
        <a style="color: aquamarine" th:if="${username!=null}" th:text="'Hi! '+${username}"  class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        </a>
        <div style="background-color: darkseagreen" class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a th:text="#{login}" th:if="${username==null}" class="dropdown-item it" th:href="@{/login}">Login</a>
            <!--<a th:if="${username!=null}"class="dropdown-item it" th:href="@{/logout}">Logout</a>-->
            <form method="post" th:action="@{/logout}">
                <input  type="submit" value="Logout" th:if="${username!=null}"class="dropdown-item it" >
            </form>
            <div th:if="${username!=null}" class="dropdown-divider"></div>
            <a  th:if="${username!=null}" th:href="@{/orders}" class="dropdown-item it" href="#">My Orders</a>
        </div>
    </div>

</nav>




<div th:fragment="cont" id="cont" class="container">

    <div class="row">

        <div  class="col-lg-3" id="leftsection">

<span id="sec1">
            <h3  class="my-4" id="logo">Simple e-commerce</h3>
            </span>
            <br>
            <h6 style="color: white">Lang</h6>
            <select id="locales" class="form-control">
                <option th:selected="#{lang}=='en'" value="en" >English</option>
                <option value="fr" th:selected="#{lang}=='fr'" >Français</option>
            </select>
            <br>
            <span id="sec2">
            <form method="get" id="searchform" th:action="@{/search/}" class="form-inline my-2 my-lg-0">
                <div class="input-group input-group-sm" id="inputgroup">
                    <input id="search" type="text"  class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm" th:placeholder="#{search}" >
                    <div class="input-group-append">
                        <button id="searchBt"   type="submit" class="btn btn-secondary btn-number" >
                            <i class="fa fa-search"></i>
                        </button>
                    </div>
                </div>
            </form>
<br>


            </span>
<br>
            <h3 id="cat" th:text="#{categories}">Categories</h3>
            <div   class="list-group">
                <a  th:each="cat:${categories}" th:href="@{/category/}+${cat.name}" class="list-group-item" th:text="${cat.name}">Category 1</a>

            </div>

        </div>
        <!-- /.col-lg-3 -->

        <div class="col-lg-9">

            <div id="carouselExampleIndicators" class="carousel slide my-4" data-ride="carousel">
                <ol class="carousel-indicators">
                    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
                </ol>
                <div class="carousel-inner" role="listbox">
                    <div class="carousel-item active">
                        <img class="d-block img-fluid"  th:src="@{/imgs/s1.jpg}" style="height: 321px; width: 900px" alt="First slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" th:src="@{/imgs/s1.jpg}" style="height: 321px; width: 900px" alt="Second slide">
                    </div>
                    <div class="carousel-item">
                        <img class="d-block img-fluid" th:src="@{/imgs/s1.jpg}" style="height: 321px; width: 900px" alt="Third slide">
                    </div>
                </div>
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span th:text="#{previous}" class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span th:text="#{next}" class="sr-only">Next</span>
                </a>
            </div>
            <div  th:if="${products==null || products.size()<=0}" class="alert alert-primary" role="alert">
                Nothing has been found !
            </div>

             <div th:if="${products!=null}">
            <div th:if="${IsSearch==null}" class="dropdown">
            <button th:text="${sort}? ${sort}: #{sort-by}" th:value="${sortBy}"  class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Sort-by
            </button>
            <div class="dropdown-menu " aria-labelledby="dropdownMenuButton">
                <a th:text="#{name}"class="dropdown-item" th:if="${categ}==null" th:href="@{/SortBy/Name}">Name</a>
                <a th:text="#{name}" class="dropdown-item" th:if="${categ}!=null" th:href="@{/category/}+${categ}+@{/SortBy/Name}">Name</a>
                <a th:text="#{price-low-high}" class="dropdown-item" th:if="${categ}==null" th:href="@{/SortBy/LowPrice}">Price : low to high</a>
                <a th:text="#{price-low-high}" class="dropdown-item" th:if="${categ}!=null" th:href="@{/category/}+${categ}+@{/SortBy/LowPrice}">Price : low to high</a>

                <a class="dropdown-item" th:text="#{price-high-low}"th:if="${categ}==null" th:href="@{/SortBy/HighPrice}">Price : high to low</a>
                <a class="dropdown-item" th:text="#{price-high-low}" th:if="${categ}!=null" th:href="@{/category/}+${categ}+@{/SortBy/HighPrice}">Price : high to low</a>


                <a class="dropdown-item" th:text="#{newest}" th:if="${categ}==null" th:href="@{/SortBy/Newest}">Newest</a>
                <a class="dropdown-item" th:text="#{newest}" th:if="${categ}!=null" th:href="@{/category/}+${categ}+@{/SortBy/Newest}">Newest</a>
            </div>
        </div>
            <br>
            <br>
            <div class="row" >

                <div th:each="prod:${products}" class="col-lg-4 col-md-6 mb-4 list-inline gallery">
                    <div class="card h-100">
                        <a  th:href="@{/item/}+${prod.getName()}">

                            <img onmouseenter="enterm(this)" onmouseleave="exitm(this)" class="card-img-top img-responsive img-fluid thumbnail zoom i1 im1" th:src="${prod.getImageUrl()}" alt="">
                            <img  hidden="hidden" class=" img-responsive img-fluid thumbnail zoom i1" th:src="${prod.getImageUrl2()}" alt="">
                            <img  hidden="hidden" class=" img-responsive img-fluid thumbnail zoom i1" th:src="${prod.getImageUrl3()}" alt="">
                            <img  hidden="hidden" class=" img-responsive img-fluid thumbnail zoom i1" th:src="${prod.getImageUrl4()}" alt="">


                        </a>

                        <div class="card-body">
                            <h4 class="card-title">
                                <a href="#" th:text="${prod.getName()}" th:href="@{/item/}+${prod.getName()}">Item One</a>
                            </h4>
                            <h5 th:text="${prod.getPrice()}+#{currrency}">$24.99</h5>
                            <!--<p class="card-text" th:text="${prod.description}">Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet numquam aspernatur!</p>-->
                        </div>

                        <div class="card-footer">
                            <small class="text-muted">&#9733; &#9733; &#9733; &#9733; &#9734;</small>
                        </div>
                    </div>
                </div>



            </div>
            <!-- /.row -->
                 <div th:if="${IsSearch==null}">
            <a th:text="'&laquo;'+#{previous}" onclick="prevv()"  id="prevPage" href="#" class="previous">&laquo; Previous</a>
            <!--<input id="paging" type="button" value="1" class="btn btn-info" style="display: inline" >-->
           <span id="btnPages"></span>

            <a th:text="#{next}+'&raquo;'" onclick="nextt()" id="nextPage" href="#" class="next">Next &raquo;</a>
             </div><br>
            <br>
</div>
        </div>
        <!-- /.col-lg-9 -->
<input hidden="hidden" id="pageNum" th:value="${pageNum}">
        <input hidden="hidden" id="category" th:value="${categ}">
    </div>
    <!-- /.row -->

</div>


</body>

<!-- Footer -->
<footer class="py-5 bg-dark">
    <div class="container">
        <p class="m-0 text-center text-white">Copyright &copy; Adnane Benkouider 2019</p>
        <p id="cc">----</p>
    </div>
    <a href="https://seal.beyondsecurity.com/vulnerability-scanner-verification/adnane-shop.herokuapp.com"><img src="https://seal.beyondsecurity.com/verification-images/adnane-shop.herokuapp.com/vulnerability-scanner-2.gif" alt="Website Security Test" border="0"></a>
    <!-- /.container -->
</footer>
<!-- Bootstrap core JavaScript -->
<!--<script th:src="@{/jquery/jquery.min.js}"></script>-->


<style>
    #sec1,#sec2{
        display: table;
        margin: 0 auto;
    }
    #dropSignin{
        background-color: black;
        border-radius: 20px;
    }
    #leftsection{
        padding-top: 50px;
        padding-bottom: 10px;
        border: 2px solid peru;
    }
    #mycart{
        min-width: 95px;
        margin-right: 2px
    }
    #searchform{
        min-width: 190px;
    }
    .next,.previous {
        text-decoration: none;
        display: inline-block;
        padding: 8px 16px;
    }

    .next:hover,.previous:hover {
        background-color: #ddd;
        color: black;
    }

    .previous {
        background-color: #343a40;
        color: white;
    }

    .next {
        background-color: #343a40;
        color: white;
    }
    #locales{
        min-width: 85px;
        max-width: 85px;
        padding: 0px;
        height: 30px;
    }


    .navbar-nav li {
        display: inline;
        text-align: center;
    }


    @media only screen and (max-width: 767px) {
        #navbarsExampleDefault{
            background-color: #282828;
            border-radius:10px ;
        }

       .nav-item .nav-link {
            color: antiquewhite;
            border-bottom: 1px solid ;

            border-radius: 5px;
        }
    }
    #sec2,#inputgroup{
        width: 100%;
    }
#cont{
    max-width: 1200px;
}
</style>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
<script
        src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
<script >
    var page=0;
    var i;
    for (i=0 ; i<= $("#pageNum").val()-1 ; i++){
        var k=i+1;
        if($("#category").val()!="")
            $("#btnPages").append('<a id="paging" type="button" class="btn btn-info" style="display: inline; margin: 1px" href="/category/'+$("#category").val()+'/SortBy/'+$("#dropdownMenuButton").val()+'/page/'+i+'" >'+k+'</a>')

        else
            $("#btnPages").append('<a id="paging" type="button" class="btn btn-info" style="display: inline; margin: 1px" href="/SortBy/'+$("#dropdownMenuButton").val()+'/page/'+i+'" >'+k+'</a>')
    }

    $("#nextPage").click(function () {
        page++;
        if($("#category").val()!="")
            $("#nextPage").attr("href","/category/"+$("#category").val()+"/SortBy/"+$("#dropdownMenuButton").val()+"/page/"+page);
        else
            $("#nextPage").attr("href","/SortBy/"+$("#dropdownMenuButton").val()+"/page/"+page);

    });

    $("#prevPage").click(function () {
        if(page<=0)
            page=0;
        else
            page--;
        if($("#category").val()!="")
            $("#prevPage").attr("href","/category/"+$("#category").val()+"/SortBy/"+$("#dropdownMenuButton").val()+"/page/"+page);
        else
            $("#prevPage").attr("href","/SortBy/"+$("#dropdownMenuButton").val()+"/page/"+page);

    });

    $("#search").keyup(function() {
        $('#searchform').attr("action", "/search/" + $(this).val())
    });

    $(document).ready(function() {
        $("#locales").change(function () {
            var selectedOption = $('#locales').val();
            if (selectedOption != ''){
                window.location.replace('?lang=' + selectedOption);
            }
        });
    });




    var end=false;
    var src="";
    var testi=false;


    function exitm(el){

        clearTimeout(timer1);
        clearTimeout(timer2);
        clearTimeout(timer3);
        clearTimeout(timer4);
        el.setAttribute("src",src);
    }

    var el;
    var timer1;
    var timer2;
    var timer3;
    var timer4;
    function enterm(e) {


        src = e.getAttribute('src');


        timer1=  setTimeout(function () {

            e.setAttribute('src', e.nextElementSibling.getAttribute('src'));
            timer2= setTimeout(function () {


                e.setAttribute('src', e.nextElementSibling.nextElementSibling.getAttribute('src'));
                timer3= setTimeout(function () {

                    e.setAttribute('src', e.nextElementSibling.nextElementSibling.nextElementSibling.getAttribute('src'));
                    timer4=  setTimeout(function () {

                        e.setAttribute('src', e.nextElementSibling.nextElementSibling.nextElementSibling.nextElementSibling.getAttribute('src'));
                    }, 1000);

                }, 1000);

            }, 1000);




        }, 1000);


    };



    $(document).ready(function(){

        /** ===========================================
         Hide / show the master navigation menu
         ============================================ */

        // console.log('Window Height is: ' + $(window).height());
        // console.log('Document Height is: ' + $(document).height());

        console.log('Window Height is: ' + $(window).height());
        console.log('Document Height is: ' + $(document).height());

        var previousScroll = 0;
        var scrolling=false;
        $(window).scroll(function(){

            var currentScroll = $(this).scrollTop();

            /*
              If the current scroll position is greater than 0 (the top) AND the current scroll position is less than the document height minus the window height (the bottom) run the navigation if/else statement.
            */



            /*
              If the current scroll is greater than the previous scroll (i.e we're scrolling down the page), hide the nav.
            */

            if (currentScroll > 0){
                if(scrolling==false)
                {


                    window.setTimeout(hideNav, 300);

                }
                /*
                  Else we are scrolling up (i.e the previous scroll is greater than the current scroll), so show the nav.
                */
            } else  {
                window.setTimeout(showNav, 300);

            }
            /*
              Set the previous scroll value equal to the current scroll.
            */
            previousScroll = currentScroll;


        });

        function hideNav() {
            $("nav").fadeOut("slow");
            scrolling=true;
            //$("[data-nav-status='toggle']").removeClass("is-visible").addClass("is-hidden");
        }
        function showNav() {
            $("nav").show();
            scrolling=false;
            // $("[data-nav-status='toggle']").removeClass("is-hidden").addClass("is-visible");



        }

    });

</script>


</html>